.aboutCard {
    background-color: #111111;
    border: 1px solid #1e1e1e;
    border-radius: 10px;
    padding: 1rem;
    width: max-content;
    display: flex
;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 17rem;
    gap: 1rem;
}

.aboutCardBottom{
    display: grid;
    grid-template-columns: auto auto;
    
}

.aboutCardTop img{
        max-width: 100%;
    height: auto;
    max-height: 330px;
    object-fit: cover;
} 


.aboutCardBottom a {
    border: 1px solid white;
    padding: 0.1rem 0.3rem;
    font-size: 14px;
}



.aboutCardBottom{
    grid-template-columns: auto;
    display: grid
;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
}

.aboutCardBottom h4{
    font-size: 20px;
}
.aboutCardBottom p{
    font-size: 16px;
}


@media only screen and (min-width:700px) {
    
    .aboutCards {
         display: grid;
         grid-template-columns: auto auto auto ;
         gap: 1rem;
        justify-items: center;
        justify-content: center;
    }
}


@media only screen and (max-width:700px) {
    
    .aboutCards {
         display: grid;
         grid-template-columns: auto ;
         gap: 1rem;
        justify-items: center;
        justify-content: center;
    }
}