.mainNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;


} 

.right{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.navButton {
    background: #814AC8;
    padding:  0.5rem 1rem;
    border-radius: 10px;

}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}


@media (max-width: 768px) {
    .right {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #d2d2d2;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1rem;
        border-radius: 10px;
        z-index: 1000;
        color: black;
    }

    .right.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }

    .footerMainTop {
          flex-direction: column;
    }
}

/* footer */

.footerMainTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  

}

.footerMainTopRightGridColumns {
    display: flex;
    gap: 1rem;
}
.footerMain {

        text-align: center;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

.footerMainBottom {
    padding: 1rem;
}