.main {
      justify-content: center;
    place-items: center;
    display: grid
;
    align-items: center;
    justify-items: center;
    align-content: center;

    padding: 2rem;


   
}

.processCards {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 1rem;
}

.processCard {
    background: #0e0e0ebd;
    border: 1px solid #222222;
    border-radius: 8px;
    padding: 2rem 2rem;
    max-width: 380px;
    width: max-content;
}

.processCardButton {
    border:1px solid #222222;
    background: black;
    padding: 0.5rem 1rem;
    border-radius: 8px; 
    width: max-content;
    margin-bottom:1rem;
} 

.processCardHeading h4 {
    font-size: 30px;
}

.processCardHeading {
    margin-bottom: 1rem;
}


@media only screen and (max-width:700px) {

    .processCards{
     grid-template-columns: 100%;
    }
    .processCard h4 {
    font-size: 20px;
}

.processCard p {
    font-size: 16px;
}

.main {
    padding: 1.5rem;
}
    
}